.edit-video {
  margin-top: 180px;
}

.backIcon {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 13px;
  margin-left: 5px;
  transition: all 0.3s;
}

.backIcon:hover {
  color: black;
}
