.search__form {
  margin-top: 115px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
  button {
    all: unset;
    font-size: 22px;
    position: absolute;
    right: 18px;
    top: 15px;
  }
}

.no-video {
  width: 1360px;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 30px;
    text-align: center;
  }
}
