.video__description {
  margin-left: 70px;
  max-width: 750px;
  .video__title {
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .video-part1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }
    p {
      font-size: 19px;
    }
  }
  .video-part2 {
    background-color: rgba($color: white, $alpha: 0.13);
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 25px;
  }
}
.video__editBtn,
.video__deleteBtn {
  font-size: 20px;
  font-weight: 800;
  background-color: rgba($color: $pink, $alpha: 0.2);
  border-radius: 10px;
  padding: 6px 10px;
  transition: all 0.3s;
}
.video__editBtn {
  margin-right: 10px;
}
.video__editBtn:hover,
.video__deleteBtn:hover {
  color: black;
}

.video__add-comments {
  margin-left: 70px;
  max-width: 750px;
  .video__comments-form {
    display: flex;
    align-items: center;
    max-width: none;
    width: 100%;
    margin-top: 55px;
    textarea {
      background: none;
      color: $pink;
      font-size: 18px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      text-indent: 15px;
      border: none;
      border-bottom: 2px solid $pink;
      margin-right: 20px;
      width: 84%;
    }
    textarea:focus {
      outline: 0;
    }
    textarea::placeholder {
      text-indent: 15px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: $pink;
    }
    button {
      width: 100px;
      height: 48px;
      border: 2px solid rgba($color: gray, $alpha: 0.7);
      background-color: black;
      color: $pink;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.7s;
    }
    button:active {
      color: black;
      background-color: rgba($color: black, $alpha: 0.7);
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 70px;
  max-width: 630px;
  .video__comment {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 30px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .comment__part {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    .comment__part1 {
      width: 90%;
      span {
        margin-top: 8px;
      }
    }
    .comment__part2 {
      width: auto;
      button {
        background: none;
        background-color: rgba($color: $pink, $alpha: 0.2);
        color: $pink;
        border: none;
        border-radius: 5px;
        padding: 2px 8px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
      }
      button:hover {
        color: black;
      }
    }
  }
}
