.video-mixin {
  .video-mixin__thumb {
    background-color: whitesmoke;
    width: 400px;
    height: 230px;
    border-radius: 15px;
    margin-bottom: 13px;
  }
  .video-mixin__data {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    .video-mixin__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .video-mixin__title {
      font-size: 20px;
      font-weight: 600;
    }
    .video-mixin__meta {
      font-size: 15px;
      margin-top: 12px;
    }
  }
}
