extends base

block content 
    if errorMessage 
        span=errorMessage
    div.upload-page 
        div.recording
            video#preview
            button#actionBtn.recording-btn 
                i.fas.fa-circle
                span Start Recording
        form(method="POST", enctype="multipart/form-data").label__form.upload-form
            label(for="video") 
            input(name="video", type="file", accept="video/*", id="video", required)
            label(for="thumb") 
            input(name="thumb", type="file", accept="image/*", id="thumb", required)
            input(name="title" type="text", placeholder="Title", required, maxlength=40)
            input(name="description" type="text", placeholder="Description", required, maxlength=70)
            input(name="hashtags" type="text", placeholder="Hashtags, separated by comma", required)
            input(type="submit", value="Submit")
block scripts 
    script(src="/static/js/recorder.js")